{% extends "base.html" %}
{% block title %}
Home | {{ block.super }}
{% endblock title %}

<{% block content %}
<div style="font-family: Arial">
<ul class="breadcrumb">
          <li class="active">Home</li>
</ul>
<h1 style="color: #003366" align="center"> Automated Question Generation </h1>

    <br>
    <div align="center">
            <h3 style="color: #666666"> Choose one of the following options: </h3> <br>
            <a class="btn btn-primary" href='{% url "docs:doc_create_file" %}' role="button">Generate Questions from a Text File</a>
            <a class="btn btn-primary" href='{% url "docs:doc_create_online" %}' role="button">Generate Questions Online</a>
    </div>


</div>

    <br><br>

    <h3 style="color: #205067" align="left">List of Documents with generated questions: </h3>

    {% for obj in queryset %}
    <div class="list-group">
      <a href='{{ obj.get_absolute_url }}' class="list-group-item">
        {{ obj.title }}
      </a>
      </div>
    {% endfor %}

</div>
{% endblock content%}