{% extends "base.html" %}

{% block title %}
{{ instance.question }} | {{ instance.document.title }}
{% endblock title %}

{% block content %}
<ul class="breadcrumb">
        <li><a href="/">Home</a> </li>
        <li><a href='{{ instance.document.get_absolute_url }}'>{{ instance.document.title }}</a> </li>
        <li class="active">{{ instance.question }}</li>
</ul>

<div style="font-family: Arial">

    <h4 >Question : <small> {{ instance.question }} | {{ instance.generation_medium }}</small></h4>
    <h4 >Sentence : <small>{{ instance.sentence }}</small></h4>
    <h4 >Score : <small>{{ instance.score }}</small></h4>
    <h4 >Hint : <small>{{ instance.hint }}</small></h4>
    <h4 >Answer : <small>{{ instance.correct_answer }}</small></h4>
    <h4 >Document : <small>{{ instance.document.title }}</small></h4>
    <h4 >Edited : <small>{{ instance.edited }}</small></h4>
    <h4 >Time of appearance : <small>{{ instance.time }}</small></h4>
    <h4 >Type : <small>{{ instance.type }}</small></h4>

<br><br>
        <div align="center">
            <a class="btn btn-primary" href='{{ instance.get_absoulte_url }}delete/' role="button">Delete</a>
            <a class="btn btn-primary" href='{{ instance.get_absoulte_url }}edit/' role="button">Edit</a>
        </div>
</div>

{% endblock content %}

