{% extends "base.html" %}

{% block title %}
New Question | {{ block.super }}
{% endblock title %}

{% block content %}
<ul class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href='{{ instance_doc.get_absolute_url }}'>{{ instance_doc.title }}</a> </li>
    <li class="active">New Question</li>
</ul>
    <div class="col-sm-6 col-sm-offset-3">

        <div style="font-family: Arial">

        <h1 style="color: lightslategray; ">
            Form a New Question
        </h1>

        <form action="" enctype="multipart/form-data" method="POST">{% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Generate Questions</button>
        </form>

        </div>
    </div>
    <br>

{% endblock content%}
