{% extends "question/base.html" %}

{% block title %}
List | {{ block.super }}
{% endblock title %}

{% block content %}

<div class="list-group">
    <h1 style="font-family: Arial; color: #003366">Generated Questions List</h1><br>

    <button class="btn btn-primary" type="button">
    <a href="{% url "question:create" %}" style="color: white"> Create a new Question </a> {#  <span class="badge">4</span>#}
    </button>
    <br><br>

    {% for obj in queryset %}
            <a href="{{ obj.get_absolute_url }}" class="list-group-item">{{ obj.final_question }} <small>Score: {{ obj.score }}</small></a>
    {% endfor %}

</div>

{% endblock content %}