{% extends "base.html" %}

{% block title %}
Generate Question | {{ block.super }}
{% endblock %}

{% block content %}

    <ul class="breadcrumb">
          <li><a href="/">Home</a> <span class="divider"></span></li>
          <li class="active">New Document</li>
    </ul>
    <div class="col-sm-6 col-sm-offset-3">

        <div style="font-family: Arial">
        <h1 style="color: lightslategray; ">
        Form for Generating Questions
        </h1>

        <form action="" enctype="multipart/form-data" method="POST">{% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Generate Questions</button>
        </form>

        </div>


    </div>

{% endblock %}