{% extends "base.html" %}

{% block title %}
 {{ instance.title }} | {{ block.super }}
{% endblock %}

{% block content %}
<div>

    <ul class="breadcrumb">
          <li><a href="/">Home</a> <span class="divider"></span></li>
          <li class="active">{{ instance.title }}</li>
    </ul>
    <h2 align="center"> {{ instance.title }} </h2>
</div>



    <div class="list-group">


        <button class="btn btn-primary" type="button">
        <a href='{{instance.get_absolute_url}}question_create/' style="color: white"> Create a new Question </a> {#  <span class="badge">4</span>#}
        </button>
        <br><br>

        <h3 style="font-family: Arial; color: #003366">Generated Questions List</h3><br>

        {% for obj in queryset %}
                <a href="{{ obj.get_absolute_url }}" class="list-group-item">{{ obj.question }} <small>Score: {{ obj.score }}</small></a>
        {% endfor %}

        <br><br>
        <div align="center">
            <a class="btn btn-primary" href='{{ instance.get_absoulte_url }}delete/' role="button">Delete Document</a>
            <a class="btn btn-primary" href='{{ instance.get_absoulte_url }}edit/' role="button">Edit Document</a>
            <a class="btn btn-primary" href='{{ instance.get_absoulte_url }}download_json/' role="button">Download Json File</a>
        </div>


    </div>
{% endblock %}


